<style title="local">
#crn-image-836283 { 
  text-align: center;
  top: 5px;
  right: 63px;
}
</style><ion-view cache-view="false" view-title="{{'Login.view.Login' | translate}}" class="pane"> 
  <ion-content data-component="crn-ion-content"> 
    <div class="bar bar-header bar-stable" data-container="true"> 
    <h1 class="title">{{'Login.view.Login' | translate}}</h1> 
  </div> 
    <div class="list" data-container="true" style="padding-top: 60px;"> 
      <div class="col text-center"> 
          
      </div> 
    </div><img src="img/abertura.png" class="component-holder center-block" style="" xattr-position="center-block" data-component="crn-image" id="crn-image-836283"> 
    <form class="form-validation" autocomplete="off" name="form" ng-submit="login()" role="form"> 
      <div class="list list-inset" data-container="true"> 
        <label class="item item-input"> <i class="icon ion-person placeholder-icon"></i> <input type="text" class="form-control" ng-model="user.username" id="username" placeholder="{{'Login.view.Username' | translate}}"> </label> 
        <label class="item item-input"> <i class="icon ion-asterisk placeholder-icon"></i> <input type="password" class="form-control" ng-model="user.password" id="password" placeholder="{{'Login.view.Password' | translate}}"> </label> 
        <label class="item"> <button type="submit" class="button button-block button-positive" ng-disabled="form.$invalid || vm.dataLoading">{{"Login.view.Login" | translate}}</button> </label> 
        <label class="item"> 
          <div ng-show="message.error" class="help-block">
             {{message.error}} 
          </div> </label> 
         
      </div> 
    </form> 
  </ion-content> 
</ion-view>