{
  "app": {
    "guid": "8416acf6-d0f1-4b0f-b1da-584d1831a59b"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": true,
    "metadataSecurity": null,
    "entitiesSecurity": null
  },
  "security": {
    "token": "MjkwYWQ3MTctYzA1Yy00NmFhLThhZmMtNzhlZjUxM2MwOWEw",
    "tokenExpiration": 3600
  },
  "auth": {
    "type": "internal",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": false
  },
  "fixedTimeZone": true,
  "timeZone": "Brazil/East",
  "timeZoneOffset": -180
}